
.user-dashboard {
    height: 850px;
    width: 1600px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.scroll-container {
    border: solid;
    /* overflow: scroll; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listings-container {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    /* position: absolute; */


}

.profile-container {
    grid-column-start: 2;
}

.requests-container {
    grid-column-start: 2;
    grid-row-start: 2;

}

.scroll-containers::-webkit-scrollbar {
    display: none;
}


@media (max-width: 1000px) {
    .scroll-containers {
        overflow:auto;
    }

}