.user-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 25px;
}

.scroll-containers {
    border: solid;
    height: 500px;
    overflow: scroll;
    width: 40%;
}

.scroll-containers::-webkit-scrollbar {
    display: none;
}

.scroll-containers {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user-lists .requests-box h1{
    margin: 10px;
}

.user-lists .listings-box h1{
    margin: 10px;
}

.page-heading {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

