
.bookDropDown {
    padding: 30px;
    color: lightgray;
    font-family: Arial;
    margin: 0px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

.bookDropDown ul {
    padding-left:0px;
    margin: 0px;
}

.bookDropDown ul li ul {
    padding-left:30px;
    margin: 0px;
}


#book_search_bar {
    margin-bottom: 0px;
}

.bookDropDown .bookListing {
    border-style: solid;
    font-size: 25px;
    list-style: none;
    /* margin: -3px; */
}

.bookDropDown .bookListing .bookInfo {
    font-size: 20px;
    list-style: none;
}
