.messenger-popup-container {
    border: 1px;
    border-style: solid;
    border-color: black;
    font-size: 15px;
    width: 401px;
    height: 352px;
    position: absolute;
    left: 400px;
    border-radius: 15px, 15px, 8px, 0px;
}

.message-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messenger-popup-container .user-message {
    position: absolute;
    left: 42.14%;
    right: 5.24%;

    background: #4C72AC;
    border-radius: 8px;
}

.messenger-popup-container .peer-message {
    position: absolute;
    left: 4.74%;
    right: 42.64%;

    background: #C4C4C4;
    border-radius: 8px;
}