body {
	background: gray;
}

header {
	background: #44d;
}

h1 {
	color: #ccc;
	font-style:'arial';
	
}

h2 {
	text-align: center;
	font-style: 'helvetica';
}

form {
	text-align: center;
}

#book_search_bar {
	text-align: center;
	margin: 50px 0px 100px 0px;
	font-size: 50px;

}

#book_search_bar input {
	width: 40%;
	height: 60px;
	color: #444;
	font-size: 30px;
	font-style: 'arial';
	text-align: center;
}	

footer {

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.book_list {
	margin-left: auto;
	margin-right: auto;
}

#navbar {
	display: inline-flex;
	margin: 0;
	text-align: center;
}

#navbar button {
	padding: 10px 30px;
	margin: 0 100px;
	display: inline-flex;
	flex-direction: right;
	border-radius: 4px;

}