.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.navbar {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70px;
  border-bottom: 3px solid #59585c;
  background-color: #f4f4f4;
  box-shadow: none;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 83.3%, 0.26)), to(hsla(0, 0%, 83.3%, 0.26)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 83.3%, 0.26), hsla(0, 0%, 83.3%, 0.26));
  background-position: 0px 0px;
  font-family: Merriweather, serif;
}

.dash-container {
  width: 700px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 2px rgba(88, 88, 88, 0.63);
}

.dash-container.profile-container {
  padding-bottom: 10px;
}

.list {
  height: 215px;
  margin-top: 12px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
}

.user-listing {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 69px;
  margin-bottom: 4px;
  border-style: solid none;
  border-width: 1px 3px;
  border-color: #59585c;
  border-radius: 0px;
  background-color: hsla(235, 0%, 92%, 0);
  box-shadow: none;
}

.grid {
  width: 1460px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  grid-column-gap: 21px;
  grid-row-gap: 20px;
  -ms-grid-rows: 2.25fr 1fr 2.5fr;
  grid-template-rows: 2.25fr 1fr 2.5fr;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Aleo, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.34);
}

.listing-header {
  font-family: Merriweather, serif;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

.listing-value {
  position: relative;
  top: -3px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  text-align: right;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 2px solid #59585c;
}

.condition-color {
  width: 100%;
  height: 33%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #59585c;
  border-radius: 0px;
  background-color: #5efd6e;
  -o-object-fit: fill;
  object-fit: fill;
}

.list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100.00008%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.column-2 {
  height: 100%;
  padding-right: 2px;
  padding-left: 0px;
}

.columns {
  position: relative;
  height: 100%;
}

.column-3 {
  height: 100%;
}

.columns-2 {
  position: relative;
  right: -10px;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.column-4 {
  height: 100%;
  padding-right: 0px;
}

.list-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 5px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image {
  position: relative;
  left: 6px;
  top: 0px;
  height: 15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.list-item {
  overflow: hidden;
  width: 100%;
  height: 33%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 1px solid #59585c;
  border-bottom: 2px none #000;
  border-left: 1px solid #59585c;
}

.list-item-2 {
  height: 33%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 1px solid #59585c;
  border-left: 1px solid #59585c;
}

.container {
  overflow: visible;
  max-width: 100%;
  margin-top: 69px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.list-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: -7px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.column-5 {
  height: 100%;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.listing-info {
  font-size: 16px;
}

.image-2 {
  position: relative;
  left: 1px;
  top: -1px;
  width: 89%;
  border-radius: 8px;
}

.listing-book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none none solid;
  border-width: 1px 1px 1px 2px;
  border-color: #59585c;
}

.column-7 {
  right: -1px;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.listing-edit.listing-button {
  padding-left: 15px;
}

.listing-button {
  padding-right: 8px;
  padding-left: 8px;
}

.listing-button.listing-edit {
  width: 100%;
  height: 50%;
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid solid;
  border-width: 1px 1px 1px 2px;
  border-color: #59585c;
  background-color: #3898ec;
  color: #38373a;
  font-weight: 700;
  text-align: center;
}

.listing-button.listing-edit:hover {
  background-color: #1e85df;
}

.listing-button.listing-edit:active {
  box-shadow: inset 1px 1px 3px 0 #000;
}

.listing-button.listing-edit.inactive {
  background-color: #b8b8b8;
  color: #7e7e7e;
}

.listing-button.listing-delete {
  width: 100%;
  height: 50%;
  padding: 6px 8px 0px 4px;
  border-style: solid none none solid;
  border-width: 1px 1px 1px 2px;
  border-color: #59585c;
  background-color: #ff5353;
  color: #38373a;
  font-weight: 700;
  text-align: center;
}

.listing-button.listing-delete:hover {
  background-color: #fa3131;
  opacity: 1;
}

.listing-button.listing-delete:active {
  box-shadow: inset 1px 1px 3px 0 #000;
}

.dash-container-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.73);
}

.dash-container-header.profile-container-header {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scroll-listing-button {
  margin-top: 16px;
  margin-bottom: 11px;
  padding-top: 14px;
  background-color: transparent;
  font-family: 'Red Hat Display', sans-serif;
  color: #f8f8f8;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #0e0d0d;
}

.scroll-listing-button:active {
  color: #646464;
  text-shadow: none;
}

.school-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 1px 1px 3px 0 #000;
  cursor: pointer;
}

.school-select:hover {
  background-color: #e2e2e2;
}

.navbar-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-school-logo {
  position: relative;
  z-index: auto;
  display: block;
  width: 100px;
  height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 2px none #000;
  border-radius: 9px;
}

.navbar-link {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #383838;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.navbar-link.main-logo {
  margin-top: 2px;
  margin-bottom: 6px;
  font-size: 36px;
}

.navbar-link.change-link {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 16px;
}

.navbar-link.large-only {
  margin-top: 2px;
  font-size: 20px;
}

.navbar-user-settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.navbar-profile-pic {
  width: 45px;
  height: 45px;
  margin-top: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 22px;
}

.burger-list {
  display: block;
  width: 60px;
  height: 60px;
  margin: 2px 5px 5px 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 3px none #000;
  border-radius: 30px;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
}

.burger-list:hover {
  background-color: hsla(0, 0%, 100%, 0.24);
}

.burger-list:active {
  box-shadow: inset 2px 2px 5px 0 #a3a3a3;
}

.burger-slice {
  width: 40px;
  height: 0px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #59585c;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form {
  width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.navbar-search-field {
  width: 80%;
  height: 38px;
  max-width: 375px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: none;
}

.image-6 {
  height: 100%;
}

.navbar-search-button {
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 40px;
  height: 38px;
  margin-right: -2px;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 0 4px -4px #000;
  cursor: pointer;
}

.navbar-search-button:active {
  box-shadow: inset 4px 4px 4px -2px #000;
}

.image-7 {
  width: 50%;
  height: 50%;
}

.book-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
}

.book-title {
  margin-right: 11px;
  font-size: 10px;
  line-height: 12px;
}

.book-subtitle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 8px;
  line-height: 10px;
}

.book-id {
  font-size: 8px;
}

.container-page-tracker {
  position: relative;
  left: -18px;
  color: #929292;
  text-align: right;
}

.profile-edit-button {
  position: relative;
  right: -17px;
  bottom: -2px;
  height: 30px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 1px 1px 3px 0 #000;
  color: #59585c;
  font-size: 18px;
}

.dash-container-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profile-user-image {
  margin-top: 8px;
  margin-bottom: 2px;
  border-radius: 40px;
  text-align: left;
}

.user-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.course-summary {
  padding-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.course-summary-header {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: left;
}

.course-list {
  margin-bottom: 0px;
  padding-left: 0px;
}

.course {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-top: 1px solid #000;
}

.course.list-header {
  border-top-style: none;
  font-weight: 700;
}

.course-name {
  width: 50%;
  margin-right: 0px;
  padding-left: 5px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.course-id {
  width: 15%;
  padding-left: 5px;
  border-bottom: 1px none #000;
}

.course-id.course-instructor {
  width: 35%;
}

.listing-bid-count {
  margin-top: -4px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: right;
}

.link {
  display: block;
  text-align: center;
}

.listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 660px;
  height: 69px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #59585c;
  border-bottom: 1px solid #59585c;
}

.listing-column {
  width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.listing-column.listing-book {
  width: 170px;
}

.listing-column.listing-info {
  width: 350px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.listing-column.listing-price {
  width: 110px;
  padding-right: 5px;
}

.listings-info {
  width: 340px;
  height: 100%;
}

.text-block {
  margin-left: -11px;
  text-align: right;
}

.meetup-list {
  height: 160px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

.meetup {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 660px;
  height: 69px;
  margin-top: 10px;
  border-top: 1px solid #59585c;
  border-bottom: 1px solid #59585c;
}

.messenger-container {
  position: absolute;
  left: 352px;
  bottom: -1px;
  display: none;
  overflow: visible;
  width: 308px;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: none none solid;
  border-width: 3px 3px 1px;
  border-color: #59585c;
  background-color: #fff;
}

.image-8 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-style: solid;
  border-width: 3px;
  border-color: #58729b;
  border-radius: 30px;
}

.messenger-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: solid;
  border-width: 3px;
  border-color: #59585c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.messenger-body {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 3px solid #000;
  border-left: 3px solid #000;
}

.messenger-footer {
  width: 100%;
  height: 68px;
  border-top: 1px solid #59585c;
  border-right: 3px solid #000;
}

.message {
  display: block;
  margin: 5px 6px;
  padding: 6px 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 12px;
  color: #f4f4f4;
}

.message.sent-message {
  display: inline-block;
  max-width: none;
  background-color: #1a3d61;
}

.message.sent-message:hover {
  background-color: rgba(26, 61, 97, 0.84);
}

.message.received-message {
  display: inline-block;
  max-width: 100%;
  min-height: auto;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #59585c;
}

.message.received-message:hover {
  background-color: rgba(89, 88, 92, 0.9);
}

.list-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-2 {
  overflow: visible;
  padding-right: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.button {
  padding-top: 12px;
  background-color: transparent;
  color: #59585c;
  font-size: 20px;
  font-weight: 700;
}

.messenger-open-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 33px;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 12px;
  box-shadow: 1px 1px 3px 0 #000;
  cursor: pointer;
}

.messenger-open-button:hover {
  background-color: #2c5279;
}

.messenger-open-button:active {
  box-shadow: none;
}

.small-arrow {
  position: relative;
  left: -12px;
  top: 10px;
  width: 19px;
  height: 19px;
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.text-block-2 {
  overflow: hidden;
  margin-right: 22px;
  padding-left: 13px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}

.meetup-descriptor {
  text-align: right;
}

.meetup-descriptor.buy-or-rent {
  position: relative;
  top: -5px;
  font-weight: 700;
}

.div-block-5 {
  position: absolute;
  top: -12px;
  right: -7px;
  width: 23px;
  height: 23px;
  border-style: solid;
  border-width: 1px;
  border-color: #bb3d07;
  border-radius: 12px;
  background-color: #fd7607;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.message-datetime {
  display: block;
  color: #969696;
  font-size: 12px;
  text-align: left;
}

.message-state {
  display: block;
  color: #969696;
  font-size: 12px;
  text-align: right;
}

.message-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 157.46875px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sent-message {
  max-width: 60%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.received-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.active-bid {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 69px;
  margin-bottom: 4px;
  border-style: solid none;
  border-width: 1px 3px;
  border-color: #59585c;
  border-radius: 0px;
  background-color: hsla(235, 0%, 92%, 0);
  box-shadow: none;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Merriweather, serif;
}

.home-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.home-page-main-header {
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-top: 1px solid #a5a5a5;
  color: #464646;
  font-weight: 300;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.home-page-header-container {
  margin-top: 40px;
}

.home-page-sub-header {
  text-align: center;
}

.home-search-form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-search-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 40px;
}

.book-search-dropdown {
  position: absolute;
  top: 90px;
  overflow: auto;
  width: 700px;
  max-height: 304px;
  border-top: 1px solid #59585c;
  background-color: #e5e5e5;
}

.book-search-dropdown.navbar {
  position: fixed;
  left: 0px;
  top: 70px;
  z-index: 11;
  display: none;
  width: 100%;
  box-shadow: 4px 4px 9px 0 #000;
}

.home-search-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 105px;
  height: 90px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 45px;
}

.home-search-button.theme-background {
  cursor: pointer;
}

.home-search-button.theme-background:hover {
  box-shadow: inset 1px 1px 3px 0 hsla(0, 0%, 99.3%, 0.23);
}

.home-search-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 66px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top-right-radius: 45px;
  background-color: #e5e5e5;
  color: #7a7a7a;
  font-size: 36px;
  text-align: center;
}

.theme-background {
  background-color: #1a3d61;
}

.home-search-glass {
  position: relative;
  left: 5px;
  width: 60px;
  height: 60px;
}

.booksearch-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.booksearch-book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  height: 80px;
  margin-top: 10px;
  border-top: 1px solid #59585c;
  border-bottom: 1px solid #59585c;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.57);
}

.booksearch-book-info {
  overflow: auto;
  padding-left: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.booksearch-book-button {
  width: 120px;
  padding-top: 30px;
  border-left: 3px solid #59585c;
  font-size: 24px;
  text-align: center;
}

.booksearch-book-button:hover {
  box-shadow: inset 1px 1px 3px 0 hsla(0, 0%, 100%, 0.12);
}

.booksearch-book-button:active {
  box-shadow: inset 1px 1px 3px 0 #000;
}

.booksearch-book-button.sell {
  background-color: #59585c;
}

.booksearch-book-cover {
  width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.booksearch-book-text {
  margin-bottom: -2px;
  font-size: 12px;
  white-space: nowrap;
}

.booksearch-book-text.title {
  font-size: 14px;
  font-weight: 700;
}

.booksearch-book-text.edition {
  display: inline-block;
}

.booksearch-book-text.isbn {
  display: inline-block;
  margin-left: 10px;
}

.booksearch-add-book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  height: 80px;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #59585c;
  border-bottom: 1px solid #59585c;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.57);
  cursor: pointer;
}

.booksearch-add-book:hover {
  background-color: #ececec;
}

.booksearch-add-book:active {
  border-top-style: none;
  border-bottom-style: none;
  box-shadow: none;
}

.plus-sign {
  padding-top: 13px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 60px;
  line-height: 40px;
}

.booksearch-add-text {
  padding-top: 0px;
  padding-bottom: 5px;
}

.course-instructor {
  width: 35%;
}

@media screen and (max-width: 991px) {
  .navbar {
    position: fixed;
    z-index: 5;
    background-color: #f4f4f4;
  }

  .user-listing {
    z-index: 1;
  }

  .grid {
    width: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .listing-header {
    font-size: 16px;
  }

  .condition-color {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top-width: 2px;
  }

  .list-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .list-item {
    height: 33%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top-style: none;
    border-bottom-style: solid;
  }

  .list-item-2 {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom-style: none;
  }

  .list-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-left: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .column-5 {
    height: 100%;
  }

  .listing-info {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
  }

  .image-2 {
    overflow: hidden;
    width: auto;
    height: auto;
  }

  .listing-book {
    height: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
    border-left: 2px solid #000;
  }

  .school-select {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-search {
    overflow: visible;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navbar-school-logo {
    width: 80px;
    margin-left: 0px;
  }

  .navbar-link {
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
  }

  .navbar-link.main-logo {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 32px;
  }

  .navbar-link.large-only {
    display: none;
  }

  .navbar-user-settings {
    margin-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .navbar-profile-pic {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .burger-list {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .container-page-tracker {
    top: -7px;
  }

  .messenger-container {
    z-index: 5;
  }

  .messenger-header {
    border-width: 2px;
  }

  .messenger-body {
    border-right-width: 2px;
    border-right-color: #59585c;
    border-left-width: 2px;
    border-left-color: #59585c;
    box-shadow: inset -1px 0 2px 1px #59585c;
  }

  .messenger-footer {
    border-right-width: 2px;
  }

  .active-bid {
    z-index: 1;
  }

  .body-2 {
    min-width: 750px;
  }

  .home-page-sub-header {
    font-size: 18px;
  }

  .home-search-form {
    min-width: 700px;
  }

  .book-search-dropdown.navbar {
    left: -0.35938px;
    top: 67px;
    width: 100%;
  }

  .booksearch-book-info {
    padding-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    position: static;
    min-width: 750px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .book-search-dropdown.navbar {
    position: absolute;
    min-width: 750px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    position: static;
    width: auto;
  }
}

#w-node-30fe698c4036-03dd9f23 {
  -ms-grid-column: span 1;
  grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-c74f0eb9261c-03dd9f23 {
  -ms-grid-column: span 1;
  grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

